
/** background color **/

body { background-color: #151611}


* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

/** this is for the header highlighting part **/

.header {
  overflow: hidden;
  background-color: #151611;
  padding: 20px 10px;
}



.header a {
  float: left;
  color: #99A395;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #FEE978;
  color: black;
}

/**
.header a.active {
  color: #FEE978;
}
**/

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/** the picture change with js **/

#responsive{
  width: 500px; height: 300px; left: 0px; top: 0px; position: absolute;
  height:300px;
  width: 450px; 
  left: 520px; 
  top: 117px; 
  position: absolute;
}
/** the picture animation with js **/
.animate {
  position: relative;
  animation-name: fadeInOut; 
  animation-duration: 2s;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


/** all below are correct sizing and placement of other images **/

.image-container {
  position: absolute;
}

#image1 {
  width: 60px;
  height: 200px;
  left: 17px;
  top: 500px;
  opacity: 50%;
}

#image2 {
  width: 600px;
  height: 200px;
  left: 1020px;
  top: 500px;
  opacity: 50%;
}

#image3 {
  width: 600px;
  height: 620px;
  left: 1020px;
  top: 117px;
  opacity: 50%;
}

#image4 {
  width: 643px;
  height: 691px;
  left: 17px;
  top: 117px;
  opacity: 50%;
}

.image {
  width: 450px;
  height: auto; 
  left: 0;
  top: 0;
  position: absolute;
}

#image5 {
  width: 450px;
  height: 670px;
  left: 520px;
  top: 500px;
}

.image101{
  height:300px;
  width: 450px;
}

